:root {
  --fs-0: clamp(0.76rem, -0.24vw + 0.8rem, 0.59rem);
  --fs-1: clamp(0.87rem, -0.15vw + 0.9rem, 0.77rem);
  --fs-2: clamp(1rem, 0vw + 1rem, 1rem);
  --fs-3: clamp(1.15rem, 0.22vw + 1.11rem, 1.3rem);
  --fs-4: clamp(1.32rem, 0.53vw + 1.22rem, 1.69rem);
  --fs-5: clamp(1.52rem, 0.98vw + 1.34rem, 2.2rem);
  --fs-6: clamp(1.75rem, 1.61vw + 1.45rem, 2.86rem);
  --fs-7: clamp(2.01rem, 2.48vw + 1.55rem, 3.71rem);

  --clr-white: white;
  --clr-dark: #191919;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  background-color: var(--clr-white);
  color: var(--clr-dark);
  font-family: "Alegreya Sans", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--clr-dark);
  text-decoration: none;
}

// Atomic CSS Classes
.font-gothic {
  font-family: "League Gothic", system-ui, sans-serif;
  letter-spacing: 0.2rem;
  word-spacing: 0.15rem;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin-inline: auto;
}

.max-w {
  max-width: 720px;
  width: 90%;
  margin-inline: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.padding-y {
  padding-block: 1.5em;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  column-gap: 1em;
  row-gap: 2em;
  margin-block: 2em;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* My Stylistic Underline for headings */
.heading::after {
  content: "";
  display: block;
  margin-top: 0.3em;
  width: clamp(2em, 25%, 3em);
  height: 3px;
  background-color: #212121;
}

.nav-item:hover::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #212121;
}

// Typography Styles
.prose {
  max-width: 70ch;
  word-spacing: 0.15rem;
  font-size: var(--fs-3);
  margin-inline: auto;

  h1 {
    font-size: var(--fs-6);
  }

  h2 {
    font-size: var(--fs-5);
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: var(--fs-4);
  }

  blockquote {
    padding: 1.5em;
    background-color: #f4f4f5;
    border-radius: 0.25em;
  }

  pre {
    padding: 1em;
    border-radius: 0.25em;
    font-size: 1.1rem;
  }
}

.prose > * + * {
  margin-block-start: 1em;
}
