---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "About this website";
const description = "About this website";
---

<BaseLayout {title} {description}>
  <main>
    <div class="wrapper padding-y">About Us</div>
  </main>
</BaseLayout>
