---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "Contact Us";
const description = "How to contact us. Now you know";
---

<BaseLayout {title} {description}>
  <main>
    <div class="wrapper padding-y">Contact Us</div>
  </main>
</BaseLayout>
