---
import Swipper from "./Swipper.astro";
---

<section>
  <div class="wrapper padding-y">
    <h2 class="font-gothic">Featured Stories</h2>
    <p>Here are some of our articles that caught fire !</p>
    <Swipper />
    <!-- <div class="responsive-grid">
      {featuredPosts.map((post) => <FeaturedCard {post} />)}
    </div> -->
  </div>
</section>

<style lang="scss">
  h2 {
    font-size: var(--fs-6);
  }

  p {
    font-size: var(--fs-4);
  }
</style>
