---
interface Props {
  title: string;
  description: string;
}

import Navbar from "../components/Navbar.astro";
import BaseHead from "../components/BaseHead.astro";

import { ViewTransitions } from "astro:transitions";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <ViewTransitions />
  </head>

  <body>
    <Navbar />
    <slot />
  </body>
</html>
